/** Arrange Layout **/

body {
    grid-template-areas: 
        "nav  nav  nav"
        "side main art";
    grid-template-rows: 10% auto;
    grid-template-columns: 20% 40% auto;
    column-gap: 2vw;
    row-gap: 2vh;
}

/** Using the same layout for frame **/

.frame {
    border: 1px solid #F0F2F7;
    border-radius: 1.5% 1.5% 0 0;
}

aside {
    margin-left: 2vw;
    margin-top: 1vw;
}

/** Align Text and Icon in nav **/

aside button {
    text-align: start;
    font-size: 1.3em;
}

aside button > i:not(:first-child) {
    margin-right: 1vw;
    margin-top: 1vh;
}

aside button:first-child {
    font-weight: 650;
}

article {
    margin-right: 2vw;
}

button[class*=active] {
    background-color: royalblue !important;
    transition: 0.3s !important;
}

button[class*=active]:active {
    box-shadow: none !important;
}


