body > article {
    position: relative;
}

body > article form {
    max-height: 75vh;
    overflow: scroll;
}

body > article form > article {
    margin-bottom: 0.5em;
}

/** Disable Scrollbar **/

body > article form::-webkit-scrollbar { 
    display: none;
}

/** Fixed Send button **/

body > article input[type=submit] {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
}

/** Style Transaction inside a Block **/

.block--transaction {
    position: relative;
    padding: 0.2em;
    /** **/
    display: flex;
    flex-direction: row;
    justify-content: end;
    /** **/
    border: 1px solid #aaa;
    border-radius: 7px;
    width: 100%;
}

.block--transaction:hover aside {
    opacity: 1;
    visibility: visible;
    transition: .3s;
}

.block--transaction aside {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-self: end;
    /** **/
    position: absolute;
    right: 0.1em;
    top: 0.1em;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.block--transaction aside * {
    padding: 0;
}

/** Style for Icon, try to display it as button **/

.block--transaction aside span {
    font-size: 1.5em;
}

.block--transaction aside span:first-child {
    color: red;
}

/** Effect when hover Icon **/

.block--transaction aside span:hover {
    filter: brightness(85%);
}

/** Information inside Transaction **/

.block--transaction section * {
    margin: 0;
    line-height: 1.2em;
}

.block--transaction section {
    width: 100%;
}

.block--transaction:hover #coin {
    font-size: larger;
    font-weight: 700;
    transition: .3s;
}