<th:block id="main-content">
    <ul class="nav nav-pills mb-3" id="dashboard-menu" role="tablist">
        <li class="nav-item">
            <a  class="nav-link active" id="pills-home-tab" data-toggle="pill" 
                href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                <span>Total</span>
            </a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" id="pills-profile-tab" data-toggle="pill" 
                href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                <span>Sold</span>
            </a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" id="pills-contact-tab" data-toggle="pill" 
                href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                <span>Bought</span>
            </a>
        </li>
      </ul>
    <div class="tab-content" id="dashboard-tab-content">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            
        </div>
    </div>


    <!-- Dashboard Tab Styles -->

    <link rel="stylesheet"  type="text/css" th:href="@{/css/user/tab/dashboard_tab.css}">
    <!-- <th:block id="links_custom">
        
    </th:block> -->
</th:block>
