<!--
	Show user coin analystic
	@author HaiTMT
-->
<!DOCTYPE html>
<html th:replace="fragments/_layout :: layout(~{:: title},~{:: #links},~{:: #scripts},~{:: #content})">
<!-- 
If you dont have one of parameters here, please set it to _ -->

<head>
    <!-- The Title (Remember always set this) -->
    <title>Dashboard</title>

    <!-- The Block contain my CSS -->
    <th:block id="links">
        <!-- This is Page Self CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/user/dashboard.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/icon/bitcoin/flaticon.css}">

        <!-- Addition Styles -->
        <th:block th:replace="~{:: #links_custom} ?: _"></th:block>
    </th:block>

    <!-- The Block contain Page Self Javascripts -->
    <th:block id="scripts">
        <script type="text/javascript" th:src="@{/js/user/dashboard.js}"></script>
        <!-- Addition Scripts -->
        <th:block th:replace="~{:: #scripts_custom} ?: _"></th:block>
    </th:block>

</head>

<body>
    <th:block id="content">

            <!-- Menu -->
            <aside>
                <div id="nav-tab" class="list-group list-group-flush">
                    <button id="dashboard-tab" class="list-group-item active" onclick="renderDashboardTab()">
                        <i class="fas fa-home"></i>
                        <span class="dashboard-link-name">Dashboard</span>
                    </button>
                    <button id="buy-coin-tab" class="list-group-item">
                        <i class="flaticon-bitcoin-shop"></i>
                        <span class="dashboard-link-name">Buy Bitcoin</span>
                    </button>
                    <button id="sell-coin-tab" class="list-group-item">
                        <i class="flaticon-bitcoin-symbol-inside-circulating-arrows"></i>
                        <span class="dashboard-link-name">Sell Bitcoin</span>
                    </button>
                    <button id="history-tab" class="list-group-item">
                        <i class="flaticon-bitcoin-symbol-inside-a-timer-variant"></i>
                        <span class="dashboard-link-name">History</span>
                    </button>
                </div>
            </aside>

            <!-- Content -->
            <main class="frame">
                <th:block th:replace="~{user/tab/__${content_main}__ :: #main-content} ?: _"></th:block>
            </main>

            <!-- Info -->
            <article class="frame">
                <th:block th:replace="~{user/tab/__${content_right}__ :: #right-content} ?: _"></th:block>
            </article>
    </th:block>

</body>

</html>